Automations/Invoice-System-Meneger.json
{
  "meta": {
    "instanceId": "042e2ac0c434c1e0020953f4cd4c1ecf2cc02ad27356ddb9d55b28b46b006486"
  },
  "name": "Invoice Manager Agent",
  "tags": [
    {
      "id": "X1FZFxO6BVBzOoAT",
      "name": "Created",
      "createdAt": "2025-12-26T13:36:50.895Z",
      "updatedAt": "2025-12-26T13:36:50.895Z"
    }
  ],
  "nodes": [
    {
      "id": "32458e91-e581-4ba1-8910-d4d026d4b065",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        480,
        176
      ],
      "parameters": {
        "options": {},
        "operation": "pdf"
      },
      "typeVersion": 1
    },
    {
      "id": "455caa9c-bda4-4302-b86b-325a9511b630",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "parameters": {
        "color": 4,
        "width": 400,
        "height": 352,
        "content": "# STEP ONE:\n### - Receiving and downloading the PDF file to the workflow "
      },
      "typeVersion": 1
    },
    {
      "id": "60a0ac58-9cfc-4cb5-84fc-32e7e949b29e",
      "name": "Download the invoice",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        256,
        176
      ],
      "parameters": {
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "binaryPropertyName": "data"
        },
        "operation": "download"
      },
      "typeVersion": 3
    },
    {
      "id": "d8ff807f-94ea-4d68-801d-2db6c92d5029",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        416,
        0
      ],
      "parameters": {
        "width": 512,
        "height": 352,
        "content": "# STEP TWO:\n### - Extracting text from the invoice PDF and giving it the write structure using AI"
      },
      "typeVersion": 1
    },
    {
      "id": "d91db369-dae7-4572-b631-5340dc37e37f",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        944,
        0
      ],
      "parameters": {
        "color": 6,
        "width": 304,
        "height": 352,
        "content": "# STEP THREE:\n### - Filling the data from the invoice into the invoices database"
      },
      "typeVersion": 1
    },
    {
      "id": "c8d5ccf6-d4a9-4489-afb0-25c67cfca0a3",
      "name": "Update the database",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1040,
        176
      ],
      "parameters": {
        "columns": {
          "value": {
            "Amount:": "={{ $json['Amount:'] }}",
            "Status:": "={{ $json['Status:'] }}",
            "Quantity:": "={{ $json['Quantity:'] }}",
            "Product 2:": "={{ $json['Product 2:'] }}",
            "Product 1 :": "={{ $json['Product 1 :'] }}",
            "Client email": "={{ $json['Client email'] }}",
            "Client name:": "={{ $json['Client name:'] }}",
            "Invoice num:": "={{ $json['Invoice num:'] }}",
            "Invoice date:": "={{ $json['Invoice date:'] }}",
            "Client adress:": "={{ $json['Client adress:'] }}",
            "Payment method": "={{ $json['Payment method'] }}"
          },
          "schema": [
            {
              "id": "Invoice num:",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Invoice num:",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice date:",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Invoice date:"
            },
            {
              "id": "Client name:",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Client name:"
            },
            {
              "id": "Client email",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Client email"
            },
            {
              "id": "Client adress:",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Client adress:"
            },
            {
              "id": "Product 1 :",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Product 1 :"
            },
            {
              "id": "Product 2:",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Product 2:"
            },
            {
              "id": "Quantity:",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Quantity:"
            },
            {
              "id": "Amount:",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Amount:"
            },
            {
              "id": "Status:",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Status:"
            },
            {
              "id": "Payment method",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Payment method"
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Invoice num:"
          ]
        },
        "options": {},
        "operation": "appendOrUpdate",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "",
          "cachedResultName": "Sheet1"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "{{spreadsheet_id}}",
          "cachedResultUrl": "",
          "cachedResultName": "User's Invoice Database"
        }
      },
      "typeVersion": 4.7
    },
    {
      "id": "149339d0-4793-4de2-b23b-1032317baeb7",
      "name": "Send email",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        1472,
        384
      ],
      "webhookId": "11fdc677-4754-4744-8311-18017504befc",
      "parameters": {
        "sendTo": "{{billing_email}}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        },
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text"
      },
      "typeVersion": 2.1
    },
    {
      "id": "5f7efa11-0152-4197-a057-97c1b4f9fda0",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        0
      ],
      "parameters": {
        "color": 3,
        "width": 368,
        "height": 352,
        "content": "# STEP FOUR:\n### - Sending an email with the data of the invoice to inform the billing team about the invoice received"
      },
      "typeVersion": 1
    },
    {
      "id": "b5a51900-63d5-48f5-8891-024844568646",
      "name": "Invoice Data Extractor",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        656,
        176
      ],
      "parameters": {
        "text": "={{ $json.text }}",
        "options": {},
        "attributes": {
          "attributes": [
            {
              "name": "Invoice num:",
              "required": true,
              "description": "exactly below Invoice#"
            },
            {
              "name": "Invoice date:",
              "required": true,
              "description": "Due date"
            },
            {
              "name": "Client name:",
              "required": true,
              "description": "the name under (submited for)"
            },
            {
              "name": "Client email",
              "required": true,
              "description": "the email under the name"
            },
            {
              "name": "Client adress:",
              "required": true,
              "description": "the adress under the email"
            },
            {
              "name": "Status:",
              "required": true,
              "description": "Paid or Not paid"
            },
            {
              "name": "Amount:",
              "required": true,
              "description": "Subtotal"
            },
            {
              "name": "Payment method",
              "required": true,
              "description": "Payment method"
            },
            {
              "name": "Product 1 :",
              "required": true,
              "description": "The first bought item"
            },
            {
              "name": "Product 2:",
              "required": true,
              "description": "The second bought item"
            },
            {
              "name": "Quantity:",
              "required": true,
              "description": "Qty per every item"
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "6c32b1f7-04dd-4f84-83bf-7f48d1db5a9e",
      "name": "Email The Billing Team",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1328,
        176
      ],
      "parameters": {
        "text": "=here's the data that you'll receive:\n\n- {{ $json['Invoice num:'] }}\n\n- {{ $json['Invoice date:'] }}\n\n- {{ $json['Client name:'] }}\n\n- {{ $json['Client email'] }}\n\n- {{ $json['Client adress:'] }}\n\n- {{ $json['Amount:'] }}\n\n- {{ $json['Status:'] }}\n\n- {{ $json['Payment method'] }}\n\n- {{ $json['Product 1 :'] }}\n\n- {{ $json['Product 2:'] }}\n\n- {{ $json['Quantity:'] }}",
        "options": {
          "systemMessage": "=You're my email assistant and I want to send this email everytime the workflow is executed.\n\nSubject line: Invoice received {{ $('Invoice Data Extractor').item.json['Invoice num:'] }}\n\nThe email body:\n\nHi, Dear billing team.\n\nHere's the data of an invoice we just received:\n\n- Invoice num: {{ $json['Invoice num:'] }}\n- Invoice date: {{ $json['Invoice date:'] }}\n- Client name: {{ $json['Client name:'] }}\n- Client email: {{ $json['Client email'] }}\n- Client address: {{ $json['Client adress:'] }}\n- Total amount: {{ $json['Amount:'] }}\n- Status: {{ $json['Status:'] }}\n- Payment method: {{ $json['Payment method'] }}\n- Products sold:\n     - Product 1: {{ $json['Product 1 :'] }} \n     - Product 2: {{ $json['Product 2:'] }}\n\n- Quantity sold: {{ $json['Quantity:'] }} \n\nThe data is completely set in the sheets database.\n\nGood luck, have a great day."
        },
        "promptType": "define"
      },
      "typeVersion": 3
    },
    {
      "id": "f10020b6-6f85-4a68-9ae2-2089c733a53e",
      "name": "When Invoices Are Uploaded",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        48,
        176
      ],
      "parameters": {
        "event": "fileCreated",
        "options": {},
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "id",
          "value": "{{folder_id}}"
        }
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "connections": {
    "Send email": {
      "ai_tool": [
        [
          {
            "node": "Email The Billing Team",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Invoice Data Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update the database": {
      "main": [
        [
          {
            "node": "Email The Billing Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download the invoice": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoice Data Extractor": {
      "main": [
        [
          {
            "node": "Update the database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Invoices Are Uploaded": {
      "main": [
        [
          {
            "node": "Download the invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}