Automations/tiktok_final_workflow.json
{
  "name": "TikTok Scheduled Auto-Post from Supabase (Final)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "id": "1",
      "notes": "Runs every 6 hours - you can change this to 3, 12, 24 hours, or specific times"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rujwlthjstwjfzumfjns.supabase.co/storage/v1/object/list/TikTok-Schaduled-Uploader",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ1andsdGhqc3R3amZ6dW1mam5zIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MTcxMjIyMSwiZXhwIjoyMDY3Mjg4MjIxfQ.04YpgHWhVQqOOH1lZGGIvCvVk_T2OKUAeoHXdNwKnYI"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ1andsdGhqc3R3amZ6dW1mam5zIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MTcxMjIyMSwiZXhwIjoyMDY3Mjg4MjIxfQ.04YpgHWhVQqOOH1lZGGIvCvVk_T2OKUAeoHXdNwKnYI"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prefix",
              "value": "={{$json.prefix}}"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "name": "List Videos from Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        450,
        300
      ],
      "id": "2",
      "notes": "Lists objects from Supabase Storage using Storage API. Requires prefix in input."
    },
    {
      "parameters": {
        "jsCode": "// Select oldest MP4 from Supabase Storage list\nconst raw = $input.all();\nlet items = [];\n\nif (raw.length === 1 && Array.isArray(raw[0].json)) {\n  items = raw[0].json;\n} else {\n  items = raw.map(i => i.json);\n}\n\n// Get prefix from Schedule Trigger input (used to build full path for download)\nconst trigger = $('Schedule Trigger');\nconst prefix = (trigger && trigger.item && trigger.item.json && trigger.item.json.prefix)\n  ? String(trigger.item.json.prefix)\n  : (trigger && trigger.item && trigger.item.json && trigger.item.json.body && trigger.item.json.body.prefix)\n    ? String(trigger.item.json.body.prefix)\n    : '';\n\n// Filter for MP4 files only\n// NOTE: Supabase list API already filtered by prefix, so returned names are RELATIVE\n// Do NOT re-filter by prefix here - that would reject all files\nconst videos = items.filter(i => {\n  const name = (i.name || '').toLowerCase();\n  return name.endsWith('.mp4');\n});\n\nconsole.log('Items from Supabase: ' + items.length + ' total, ' + videos.length + ' MP4s');\n\nif (videos.length === 0) {\n  console.log('Raw items: ' + JSON.stringify(items.slice(0, 5)));\n  console.log('Prefix: ' + prefix);\n  console.log('No MP4 videos found in Supabase Storage');\n  return [];\n}\n\n// Sort by creation date (oldest first)\nconst sorted = videos.sort((a, b) => {\n  const da = new Date(a.created_at || a.updated_at || 0);\n  const db = new Date(b.created_at || b.updated_at || 0);\n  return da - db;\n});\n\nconsole.log('Found ' + videos.length + ' videos, selecting oldest: ' + sorted[0].name);\n\n// Build full path: prefix + relative filename (for download URL)\nlet fullName = sorted[0].name || '';\nif (prefix && !fullName.startsWith(prefix)) {\n  fullName = prefix + fullName;\n}\n\nconsole.log('Full path: ' + fullName);\n\nconst selected = { ...sorted[0], name: fullName, encodedName: encodeURIComponent(fullName) };\n\nreturn [{ json: selected }];"
      },
      "name": "Select First Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        300
      ],
      "id": "3",
      "notes": "Picks the oldest MP4 from Supabase Storage list. Optional prefix filter."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://rujwlthjstwjfzumfjns.supabase.co/storage/v1/object/TikTok-Schaduled-Uploader/{{$json.encodedName}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ1andsdGhqc3R3amZ6dW1mam5zIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MTcxMjIyMSwiZXhwIjoyMDY3Mjg4MjIxfQ.04YpgHWhVQqOOH1lZGGIvCvVk_T2OKUAeoHXdNwKnYI"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ1andsdGhqc3R3amZ6dW1mam5zIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MTcxMjIyMSwiZXhwIjoyMDY3Mjg4MjIxfQ.04YpgHWhVQqOOH1lZGGIvCvVk_T2OKUAeoHXdNwKnYI"
            }
          ]
        },
        "responseFormat": "file",
        "dataPropertyName": "data",
        "options": {}
      },
      "name": "Download Video from Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        850,
        300
      ],
      "id": "4",
      "notes": "Downloads the video file from Supabase Storage into binary \"data\"."
    },
    {
      "parameters": {
        "jsCode": "// Prepare caption and video metadata from filename\nconst input = $input.first() || {};\nconst binaryData = input.data || (input.binary ? input.binary.data : null);\n\nconst hasBinary = !!(binaryData && binaryData.length);\nconsole.log(`🔎 Binary length: ${binaryData ? binaryData.length : 0}`);\nif (!hasBinary) {\n  console.log('❌ Binary data missing after download; stopping workflow');\n  return [];\n}\n\nconst fullPath = $json.name;\nconst fileName = (fullPath || '').split('/').pop();\nconst fileId = $json.id || fullPath;\nconst baseName = (fileName || '').replace('.mp4', '');\n\nlet caption = '';\nlet hashtags = '#fyp #foryou #viral';\n\n// Caption pattern: \"video-name_caption-text.mp4\"\n// Example: \"cooking_delicious-pasta-recipe.mp4\" → \"delicious pasta recipe\"\nif (baseName.includes('_')) {\n  const parts = baseName.split('_');\n  if (parts.length >= 2) {\n    caption = parts[1].replace(/-/g, ' ');\n  } else {\n    caption = 'Check this out!';\n  }\n} else {\n  // No underscore, use default caption\n  caption = 'New video! 🔥';\n}\n\nconst fullCaption = `${caption} ${hashtags}`;\n\nconsole.log(`📝 Generated caption: ${fullCaption}`);\n\nconst videoSize = binaryData ? binaryData.length : 0;\nconst videoEndByte = videoSize > 0 ? videoSize - 1 : 0;\n\nreturn {\n  json: {\n    fileId: fileId,\n    fileName: fileName,\n    videoCaption: fullCaption,\n    videoTitle: baseName,\n    videoSize: videoSize,\n    videoEndByte: videoEndByte\n  },\n  data: binaryData\n};"
      },
      "name": "Prepare Video Caption",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        300
      ],
      "id": "5",
      "notes": "Generates caption from filename. Pattern: 'name_caption-text.mp4'"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.tiktokapis.com/v2/post/publish/inbox/video/init/",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "tikTokOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$tokens.accessToken}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json; charset=UTF-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source_info\": {\n    \"source\": \"FILE_UPLOAD\",\n    \"video_size\": {{$json.videoSize}},\n    \"chunk_size\": {{$json.videoSize}},\n    \"total_chunk_count\": 1\n  }\n}",
        "options": {}
      },
      "name": "Initialize TikTok Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1250,
        300
      ],
      "id": "6",
      "credentials": {
        "tikTokOAuth2Api": {
          "id": "YOUR_TIKTOK_CREDENTIAL_ID",
          "name": "TikTok Account"
        }
      },
      "notes": "Step 1: Initialize upload to get upload URL"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{$json.data.upload_url}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "video/mp4"
            },
            {
              "name": "Content-Range",
              "value": "=bytes 0-{{$('Prepare Video Caption').item.json.videoEndByte}}/{{$('Prepare Video Caption').item.json.videoSize}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "specifyBody": "binaryData",
        "bodyParametersBinary": {
          "parametersBinary": "data"
        },
        "options": {}
      },
      "name": "Upload Video to TikTok",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1450,
        300
      ],
      "id": "7",
      "notes": "Step 2: Upload the actual video file to TikTok's servers"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.tiktokapis.com/v2/post/publish/video/init/",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "tikTokOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$tokens.accessToken}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json; charset=UTF-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post_info\": {\n    \"title\": \"{{$('Prepare Video Caption').item.json.videoCaption}}\",\n    \"privacy_level\": \"PUBLIC_TO_EVERYONE\",\n    \"disable_duet\": false,\n    \"disable_comment\": false,\n    \"disable_stitch\": false,\n    \"video_cover_timestamp_ms\": 1000\n  },\n  \"source_info\": {\n    \"source\": \"PULL_FROM_URL\",\n    \"video_url\": \"{{$('Initialize TikTok Upload').item.json.data.upload_url}}\"\n  }\n}",
        "options": {}
      },
      "name": "Publish Video to TikTok",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1650,
        300
      ],
      "id": "8",
      "credentials": {
        "tikTokOAuth2Api": {
          "id": "YOUR_TIKTOK_CREDENTIAL_ID",
          "name": "TikTok Account"
        }
      },
      "notes": "Step 3: Publish the video on TikTok with caption and settings. THIS ALSO USES YOUR TIKTOK ACCOUNT!"
    },
    {
      "parameters": {
        "jsCode": "// Log successful post with all details\nconst now = new Date().toISOString();\nconst videoName = $('Prepare Video Caption').item.json.fileName;\nconst fileId = $('Prepare Video Caption').item.json.fileId;\nconst caption = $('Prepare Video Caption').item.json.videoCaption;\nconst publishResponse = $json;\n\nconsole.log('✅ ========== SUCCESS ==========');\nconsole.log(`📹 Video: ${videoName}`);\nconsole.log(`🆔 Storage Object ID/Path: ${fileId}`);\nconsole.log(`📝 Caption: ${caption}`);\nconsole.log(`🕐 Posted at: ${now}`);\nconsole.log(`🎬 TikTok Publish ID: ${publishResponse.data?.publish_id || 'N/A'}`);\nconsole.log('================================');\n\nreturn {\n  json: {\n    status: 'success',\n    video_filename: videoName,\n    storage_object_id: fileId,\n    caption: caption,\n    posted_at: now,\n    tiktok_publish_id: publishResponse.data?.publish_id || 'unknown',\n    message: '🎉 Video successfully posted to TikTok!'\n  }\n};"
      },
      "name": "Log Success & Return Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1850,
        300
      ],
      "id": "9",
      "notes": "Logs posting details. Use this data to update your Supabase database!"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List Videos from Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Videos from Supabase": {
      "main": [
        [
          {
            "node": "Select First Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select First Video": {
      "main": [
        [
          {
            "node": "Download Video from Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video from Supabase": {
      "main": [
        [
          {
            "node": "Prepare Video Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Video Caption": {
      "main": [
        [
          {
            "node": "Initialize TikTok Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize TikTok Upload": {
      "main": [
        [
          {
            "node": "Upload Video to TikTok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Video to TikTok": {
      "main": [
        [
          {
            "node": "Publish Video to TikTok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Video to TikTok": {
      "main": [
        [
          {
            "node": "Log Success & Return Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}