Automations/tiktok_viral_performance.json
{
  "name": "TikTok Viral Performance + AI Optimization (Groq)",
  "nodes": [
    {
      "parameters": {
        "path": "tiktok-viral-analyzer",
        "httpMethod": "POST",
        "responseMode": "lastNode"
      },
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "functionCode": "const views = Number($json.views);\nconst likes = Number($json.likes);\nconst comments = Number($json.comments);\nconst shares = Number($json.shares);\n\nconst engagementRate = (likes + comments + shares) / views;\n\nlet viralScore = 0;\n\nif (engagementRate > 0.15) viralScore += 40;\nelse if (engagementRate > 0.10) viralScore += 30;\nelse if (engagementRate > 0.05) viralScore += 20;\n\nif (shares / views > 0.02) viralScore += 30;\nif (comments / views > 0.01) viralScore += 20;\nif (likes / views > 0.08) viralScore += 10;\n\nreturn [{\n  ...$json,\n  engagement_rate: engagementRate,\n  viral_score: Math.min(viralScore, 100)\n}];"
      },
      "id": "2",
      "name": "Calculate Metrics",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "{\n  \"Authorization\": \"Bearer YOUR_GROQ_API_KEY\",\n  \"Content-Type\": \"application/json\"\n}",
        "bodyParametersJson": "{\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a TikTok growth expert. Return ONLY valid JSON.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Video niche: {{$json.niche}}\\n\\nCaption: {{$json.caption}}\\n\\nEngagement Rate: {{$json.engagement_rate}}\\nViral Score: {{$json.viral_score}}\\n\\nProvide:\\n1) Improved high-retention caption\\n2) 10 optimized hashtags\\n3) 5 stronger hook suggestions\\n\\nReturn ONLY valid JSON with keys: optimized_caption, hashtags, hooks\"\n    }\n  ],\n  \"temperature\": 0.7\n}"
      },
      "id": "3",
      "name": "Groq AI Optimization",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "functionCode": "const aiContent = $json.choices[0].message.content;\n\nlet parsed;\ntry {\n  parsed = JSON.parse(aiContent);\n} catch (e) {\n  parsed = { error: 'AI response not valid JSON', raw: aiContent };\n}\n\nreturn [{\n  ...$json,\n  ai_output: parsed\n}];"
      },
      "id": "4",
      "name": "Parse AI JSON",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [950, 300]
    },
    {
      "parameters": {
        "responseData": "allEntries"
      },
      "id": "5",
      "name": "Return Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1200, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Calculate Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Metrics": {
      "main": [
        [
          {
            "node": "Groq AI Optimization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq AI Optimization": {
      "main": [
        [
          {
            "node": "Parse AI JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI JSON": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
